<% provide(:title, "About") %>
<h1>Our mission</h1>
<p>What has been the most important moment of your life, so far?  
Come on! Think about anything! A trip with your friends, when you got married, a party, 
the day that your child was born, when you first drive a Porsche, when you meet your idol, 
the first time you got drunk…Anything!  Can you remember it? 
How do you feel when you remember these moments? Do you still smile when you remember it? 
Life is made of moments. If you want to be happy you should stop by things and start to invest 
your time and money on experiences. What make you truly happy it`s not exactly your new bikini, 
but how nice was the weekend on the beach feeling the wind shaking your hair and the sun touch 
your skin. Do you really care what brand the TV is when you are watching your country winning 
the World Cup? I don’t care what airline company I am travelling with; the destination and 
all the new possibilities and attractions is what light me up.  Some people barely remember 
what model their car is, but they remember all the road trips that they had. Clearly life is 
not about what you buy. It`s about what you live. What kind of life do you want to live? What 
experience do you create to yourself?
Thinking about this we built a company called “Living la vida loca”. As the name says, our 
mission is bringing to your life a collection of locos and intense moments.  All you must 
do is go to our website livinglavidaloca.ie and find the experience that suits best your 
interesting. You are going to find some adventures as parachute jump, a visit to the top of
Christ statues’ head, swim with sharks, get married in Las Vegas, climb Mount Everest, 
bathe an elephant in Thailand and lots of unforgettable experiences. Check it out!
Life is the craziest and ultimate experience that you are going to live, so rock it! 


</p>
